datascience
#python-libmagic
#jupyter-tree-download
#git-credential-helpers
#okpy
#folium
#ggplot
#mplleaflet
#geopandas
#geopy
#pysal
#rtree
#netCDF4
#nose
#scikit-learn
#seaborn
#bokeh
#decorator
#networkx
#nltk
#beautifulsoup4
#spacy
#qgrid
#nb2pdf
#tensorflow
#scikit-image
#tables
#opencv-python
#plotly
#mpmath
#chart-studio
#csaps
#nbforms
#gmaps
#wordcloud
#python-libmagic
