pytest
pytest-cov
codecov
data.table
tidyr
dplyr
car
dummies
MASS
rsq
bartMachine
googledrive
stringr
totalcensus
fastDummies
factoextra
FactoMineR
mpath
BMA
ggplot2
rmapshaper
scales
plotly
spdep
tidyverse
tidycensus
tigris
tmap
leaflet
devtools
rJava
