		stats  \
		graphics  \
		grDevices  \
		utils  \
		datasets  \
		methods  \
		base  \
		r-tm=0.7-6  \
		r-SnowballC=0.6.0  \
		r-stringr=1.4.0  \
		r-simmer.plot=0.1.16  \
		r-simmer=4.4.3  \
		r-rpart.plot=3.0.8  \
		r-rpart=4.1-15  \
		r-rmarkdown=1.13  \
		r-rjson=0.2.20  \
		r-rgl=0.100.24  \
		r-reshape2=1.4.3  \
		r-readxl=1.3.1  \
		r-qgraph=1.6.3  \
		r-psych=1.8.12  \
		r-polyclip=1.10-0  \
		r-pracma=2.2.5  \
		r-NLP=0.2-0  \
		r-neuralnet=1.44.2  \
		r-mvtnorm=1.0-11  \
		r-mclust=5.4.5  \
		r-MASS=7.3-51.5  \
		r-lubridate=1.7.4  \
		r-knitr=1.23  \
		r-ks=1.11.5  \
		r-kknn=1.3.1  \
		r-kableExtra=1.1.0  \
		r-IRdisplay=0.7.0  \
		r-igraph=1.2.4.1  \
		r-htmltools=0.3.6  \
		r-gridExtra=2.3  \
		r-ggwordcloud=0.5.0  \
		r-gtools=3.8.1  \
		r-GGally=1.4.0  \
		r-ggdendro=0.1-20  \
		r-entropy=1.2.1  \
		r-e1071=1.7-2  \
		r-dummies=1.5.6  \
		r-colorspace=1.4-1  \
		r-caret=6.0-84  \
		r-ggplot2=3.2.0  \
		r-lattice=0.20-38  \
		r-base64enc=0.1-3  \
		r-dplyr=0.8.3  \
		r-plyr=1.8.4  \
		r-lightgbm=3.2.1  \
		r-R6=2.4.0  \
		r-uuid=0.1-2  \
		r-backports=1.1.4  \
		r-Hmisc=4.2-0  \
		r-BDgraph=2.61  \
		r-repr=0.19.2  \
		r-lazyeval=0.2.2  \
		r-splines=3.6.3  \
		r-crosstalk=1.0.0  \
		r-digest=0.6.20  \
		r-foreach=1.4.7  \
		r-magrittr=1.5  \
		r-checkmate=1.9.4  \
		r-cluster=2.1.0  \
		r-recipes=0.1.6  \
		r-readr=1.3.1  \
		r-gower=0.2.1  \
		r-jpeg=0.1-8.1  \
		r-rvest=0.3.4  \
		r-xfun=0.8  \
		r-crayon=1.3.4  \
		r-jsonlite=1.6  \
		r-zeallot=0.1.0  \
		r-survival=3.1-8  \
		r-iterators=1.0.12  \
		r-glue=1.3.1  \
		r-gtable=0.3.0  \
		r-ipred=0.9-9  \
		r-webshot=0.5.1  \
		r-ggm=2.3  \
		r-abind=1.4-5  \
		r-scales=1.0.0  \
		r-miniUI=0.1.1.1  \
		r-Rcpp=1.0.1  \
		r-viridisLite=0.3.0  \
		r-xtable=1.8-4  \
		r-htmlTable=1.13.1  \
		r-foreign=0.8-75  \
		r-Formula=1.2-3  \
		r-stats4=3.6.3  \
		r-lava=1.6.6  \
		r-prodlim=2018.04.18  \
		r-htmlwidgets=1.3  \
		r-httr=1.4.0  \
		r-RColorBrewer=1.1-2  \
		r-lavaan=0.6-5  \
		r-acepack=1.4.1  \
		r-pkgconfig=2.0.2  \
		r-reshape=0.8.8  \
		r-nnet=7.3-12  \
		r-tidyselect=0.2.5  \
		r-rlang=0.4.0  \
		r-manipulateWidget=0.10.0  \
		r-later=0.8.0  \
		r-munsell=0.5.0  \
		r-cellranger=1.1.0  \
		r-tools=3.6.3  \
		r-generics=0.0.2  \
		r-fdrtool=1.2.15  \
		r-evaluate=0.14  \
		r-ModelMetrics=1.2.2  \
		r-purrr=0.3.2  \
		r-glasso=1.11  \
		r-pbapply=1.4-2  \
		r-nlme=3.1-144  \
		r-whisker=0.3-2  \
		r-mime=0.7  \
		r-slam=0.1-45  \
		r-xml2=1.2.0  \
		r-compiler=3.6.3  \
		r-rstudioapi=0.10  \
		r-png=0.1-7  \
		r-huge=1.3.4  \
		r-tibble=2.1.3  \
		r-pbivnorm=0.6.0  \
		r-stringi=1.4.3  \
		r-Matrix=1.2-18  \
		r-vctrs=0.2.0  \
		r-pillar=1.4.2  \
		r-data.table=1.12.2  \
		r-corpcor=1.6.9  \
		r-httpuv=1.5.1  \
		r-latticeExtra=0.6-28  \
		r-promises=1.0.1  \
		r-KernSmooth=2.23-16  \
		r-codetools=0.2-16  \
		r-assertthat=0.2.1  \
		r-withr=2.1.2  \
		r-mnormt=1.5-5  \
		r-parallel=3.6.3  \
		r-hms=0.5.0  \
		r-grid=3.6.3  \
		r-timeDate=3043.102  \
		r-IRkernel=1.1  \
		r-class=7.3-15  \
		r-d3Network=0.5.2.1  \
		r-pbdZMQ=0.3-3  \
		r-shiny=1.3.2  
