		stats  \
		graphics  \
		grDevices  \
		utils  \
		datasets  \
		methods  \
		base  \
		r-tm	\
		r-SnowballC	\
		r-stringr	\
		r-simmer.plot	\
		r-simmer	\
		r-rpart.plot	\
		r-rpart	\
		r-rmarkdown	\
		r-rjson	\
		r-rgl	\
		r-reshape2	\
		r-readxl	\
		r-qgraph	\
		r-psych	\
		r-polyclip	\
		r-pracma	\
		r-NLP	\
		r-neuralnet	\
		r-mvtnorm	\
		r-mclust	\
		r-MASS	\
		r-lubridate	\
		r-knitr	\
		r-ks	\
		r-kknn	\
		r-kableExtra	\
		r-IRdisplay	\
		r-igraph	\
		r-htmltools	\
		r-gridExtra	\
		r-ggwordcloud	\
		r-gtools	\
		r-GGally	\
		r-ggdendro	\
		r-entropy	\
		r-e1071	\
		r-dummies	\
		r-colorspace	\
		r-caret	\
		r-ggplot2	\
		r-lattice	\
		r-base64enc	\
		r-dplyr	\
		r-plyr	\
		r-lightgbm	\
		r-R6	\
		r-uuid	\
		r-backports	\
		r-Hmisc	\
		r-BDgraph	\
		r-repr	\
		r-lazyeval	\
		r-splines	\
		r-crosstalk	\
		r-digest	\
		r-foreach	\
		r-magrittr	\
		r-checkmate	\
		r-cluster	\
		r-recipes	\
		r-readr	\
		r-gower	\
		r-jpeg	\
		r-rvest	\
		r-xfun	\
		r-crayon	\
		r-jsonlite	\
		r-zeallot	\
		r-survival	\
		r-iterators	\
		r-glue	\
		r-gtable	\
		r-ipred	\
		r-webshot	\
		r-ggm	\
		r-abind	\
		r-scales	\
		r-miniUI	\
		r-Rcpp	\
		r-viridisLite	\
		r-xtable	\
		r-htmlTable	\
		r-foreign	\
		r-Formula	\
		r-stats4	\
		r-lava	\
		r-prodlim	\
		r-htmlwidgets	\
		r-httr	\
		r-RColorBrewer	\
		r-lavaan	\
		r-acepack	\
		r-pkgconfig	\
		r-reshape	\
		r-nnet	\
		r-tidyselect	\
		r-rlang	\
		r-manipulateWidget	\
		r-later	\
		r-munsell	\
		r-cellranger	\
		r-tools	\
		r-generics	\
		r-fdrtool	\
		r-evaluate	\
		r-ModelMetrics	\
		r-purrr	\
		r-glasso	\
		r-pbapply	\
		r-nlme	\
		r-whisker	\
		r-mime	\
		r-slam	\
		r-xml2	\
		r-compiler	\
		r-rstudioapi	\
		r-png	\
		r-huge	\
		r-tibble	\
		r-pbivnorm	\
		r-stringi	\
		r-Matrix	\
		r-vctrs	\
		r-pillar	\
		r-data.table	\
		r-corpcor	\
		r-httpuv	\
		r-latticeExtra	\
		r-promises	\
		r-KernSmooth	\
		r-codetools	\
		r-assertthat	\
		r-withr	\
		r-mnormt	\
		r-parallel	\
		r-hms	\
		r-grid	\
		r-timeDate	\
		r-IRkernel	\
		r-class	\
		r-d3Network	\
		r-pbdZMQ	\
		r-shiny	
